<div class="container">
  <app-cockpit
    (sc)="addServerOnServer($event)"
    (bpc)="addBluePrintOnServer($event)"
  ></app-cockpit>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-success" (click)="changeName()">Change first element</button>
      <button class="btn btn-danger" (click)="onDestroy()">Destroy first element</button>
      <app-server-element
        *ngFor="let server of servers"
        [serverElementWithAlias]="server"
        [name]="server.serverName"
      >
        <p class="card-text">{{server.serverContent}}</p>
      </app-server-element>
    </div>
  </div>
</div>

